numpy>=1.10
gatspy>=0.2
matplotlib>=1.4
pandas
astroML
astroML-addons
astropy
PyWavelets==0.3.0
bitarray==0.8.1
Cython==0.23.4
docutils==0.12
datashape==0.4.7
emcee
fastcache
fastkml
future
futures
numba
numexpr
pep8
pexpect
pickleshare
py==1.4.30
python-dateutil==2.4.1
qtconsole==4.1.0
redis==2.10.3
requests==2.8.1
requests-futures==0.9.5
runipy==0.1.3
scikit-image==0.10.1
scikit-learn==0.15.2
scipy==0.14.0
statsmodels==0.5.0
sunpy==0.5.4
supersmoother==0.3.1
ujson==1.33
unicodecsv==0.14.1
Unidecode==0.4.16
update-checker==0.9
wheel==0.26.0
